<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<true/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
	<dict>
		<key>Icon</key>
		<string>SCP-173</string>
		<key>Number</key>
		<string>SCP-173</string>
		<key>HasActivation</key>
		<false/>
		<key>Project</key>
		<dict>
			<key>Number</key>
			<string>SCP-173</string>
			<key>Icon</key>
			<string></string>
			<key>Level</key>
			<string>Euclid</string>
			<key>AsylumMeasures</key>
			<string>SCP-173应随时保存在一个上锁的收容区域内。如有人员必须进入此区域，人数须不少于三人，并且进入后必须锁上入口的门。在工作完成重新开启入口之前，至少两名工作人员必须随时与SCP-173保持眼神接触。</string>
			<key>Describe</key>
			<string>SCP-173于1993年移动到Site-19，起源一直未知。它由混凝土和钢筋建造，并含有Krylon牌喷漆之痕迹。SCP-173是可动的，并且带有非常强的敌意，不过在直接视线中不能移动。与SCP-173之间的视线绝不能在任何时候被中断，收容间内的人员必须在眨眼前相互给予指示。据报告，对象会折断头骨与颈部相连之处，或绞杀收容间内之人员。在攻击事件中,人员需遵守第4级危险对象遏制程序。

人员报告指出无人的收容间内会传出刮石声，此为正常现象，若有任何行为之改变，应当报告值班中的HMCL监督员处理。

在地板上的红棕色物质为粪便和血液组成，这些物质的起源未知。容器内须每两周清洁一次。</string>
		</dict>
	</dict>
</array>
</plist>
