<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Branch101</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>测试正在准备</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>正在检测编号D-9587身体状态</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>编号D-9587心理状态稳定，偏差值为-10%~+10%</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>编号D-9587身体状况问题，偏差值为-1%~+3%。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>前置工作准备完毕，请研究员编号C-132下达指令。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>测试开始</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>调出D-9587资料</string>
				<key>Branch</key>
				<string>103</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch102</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>确认研究员身份正确，模因抹杀触媒关闭。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>开始执行SCP-173日常清理任务，SCP-173相关文档已存入临时档案，请研究员下达指令。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>麦克风试音——麦克风试音——编号D-9587，听到请回应。</string>
				<key>Branch</key>
				<string>101</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>编号D-9587,请开始执行任务。</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch103</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>D-9587，朵拉朵拉朵啦</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>朵拉朵拉朵啦</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在进行作业]</string>
			<key>NotificationTime</key>
			<integer>60</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>测试正在准备</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>正在检测编号D-9587身体状态</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>编号D-9587心理状态稳定，偏差值为-10%~+10%</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>测试开始</string>
				<key>Branch</key>
				<string>101</string>
				<key>PlistName</key>
				<string>BadEnd</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>调出D-9587资料</string>
				<key>Branch</key>
				<string>103</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
