<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Branch101</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[测试正在准备]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[正在检测对象编号D-9587 生理状况]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[编号D-9587生理状况稳定，偏差值为-1%~+3%]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[正在检测对象编号D-9587心理状况]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[编号D-9587心理状态稳定，偏差值为-10%~+10%]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[确认对象D-9587可执行任务]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[请研究员编号C-132下达指令]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>任务开始</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>确认任务详细报告</string>
				<key>Branch</key>
				<string>103</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch102</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[确认研究员身份正确]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[模因抹杀触媒关闭]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[开始执行SCP-173例行清理任务，SCP-173相关文档已存入临时档案]</string>
			<key>Number</key>
			<string>SCP-173</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[编号D-9587已就位]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[请研究员下达指令]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>激活阀门</string>
				<key>Branch</key>
				<string>104</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>[射杀D-9587]</string>
				<key>Branch</key>
				<string>105</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch103</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[本次任务为 SCP-173例行清理任务，SCP-173相关文档会在任务开始后存入临时档案]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[任务由两名D级可消耗人员及一名C级安保人员执行]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[应Dr.[数据删除]需要，额外增加测试子任务]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[测试子任务由两名C级研究员执行]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[两名C级研究员分别与两名D级可消耗人员点对点联系]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[研究员C-132负责与D-9587建立点对点联系]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[此次SCP-173清理任务结束时子任务销毁]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[具体任务目标[数据删除]]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>请重复一次</string>
				<key>Branch</key>
				<string>103</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>……算了，开始任务吧。</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch104</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[SCP-173收容区域阀门已激活]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[执行人员开始进入收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[建立研究员C-132与D-9587点对点联系]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[点对点联系建立成功，现在研究员C-132可与D-9587交流]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>呼！老天爷，终于能找个人说话了</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>那个安保有事没事就把枪口对准我菊花，搞得我好像是重刑犯一样。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>……好吧，我的确是重刑犯。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>但也不该拿那玩意对着人菊花，伙计，对吗？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>伙计？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>伙计，对面那个伙计，听得到我说话吗？喂喂喂，这玩意没坏吧？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>我可没想到分配给我的是块裹脚布</string>
				<key>Branch</key>
				<string>107</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>通话状况良好，D-9587请执行你的任务</string>
				<key>Branch</key>
				<string>108</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch105</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[收到指令……]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[辅助系统判断该指令在 95.4% 的情况下不存在可行性，请确认指令无误]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[指令错误性质高于 80%，若强制执行辅助系统将通报高级研究员]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>呃，那个，我只是说笑来着，激活阀门吧</string>
				<key>Branch</key>
				<string>104</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>相信我，我有很重要的理由，执行指令！</string>
				<key>Branch</key>
				<string>106</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch106</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[辅助系统无法明确理由因素]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[辅助系统判断该指令在 99.9% 的情况下不存在可行性]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[若强制执行辅助系统将通报高级研究员]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[辅助系统判断指令影响因素仅限于D级人员]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[通报将在执行指令后执行]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[请再次确认]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>确认，确认，给我杀了他</string>
				<key>Branch</key>
				<string>101</string>
				<key>PlistName</key>
				<string>BadEnd</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>唔，你们还真是够冷酷的，还是算了</string>
				<key>Branch</key>
				<string>104</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch107</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>哇哦，伙计，你嘴巴还挺毒的。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我感觉我会跟你相处的很愉快。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[已确认所有人员进入收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[准备关闭阀门]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[阀门关闭时小队成员开始执行清理任务]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[正在……正在关……在……闭……关……]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>妈蛋，我有不好的预感</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[电源装置异常，重复，电源装置异常]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[启用备用电源装置]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[备用电源装置损坏，重复，备用电源装置损坏]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[无法关闭SCP-173收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[收容区域进入第四级危险状态]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>[哔——]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在作业]</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>咳—咳—咳—</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>刚刚发生什么事了？立即报告！</string>
				<key>Branch</key>
				<string>111</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>还活着么，D-9587？</string>
				<key>Branch</key>
				<string>112</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch108</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>好吧，真冷淡。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我猜你是那种标准的研究员。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>希望你不会为了测试故意送我去跟那个雕塑玩。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>或者激活安保系统啥的射杀我。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>等等，刚刚的话是不是有点奇怪？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>不要想些乱七八糟的事，开始任务吧。</string>
				<key>Branch</key>
				<string>109</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>你说得对，我刚送你去死，只为打通一条支线</string>
				<key>Branch</key>
				<string>110</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch109</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>虽然我很想赶紧开始任务，跟那边那个恶心的奇怪雕塑说拜拜。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>但我们还有一个家伙没进入收容区域。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>那个安保简直跟个娘们一样，哆哆嗦嗦的，半天进不来。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>你确定他不是靠卖屁股混进来的吗？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[已确认所有人员进入收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>老天，他终于进来了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[准备关闭阀门]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[阀门关闭时小队成员开始执行清理任务]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[正在……正在关……在……闭……关……]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>……我有不好的预感。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[电源装置异常，重复，电源装置异常]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[启用备用电源装置]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[备用电源装置损坏，重复，备用电源装置损坏]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[无法关闭SCP-173收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[收容区域进入第四级危险状态]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>[哔——]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在作业]</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>咳—咳—咳—</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>刚刚发生什么事了？立即报告！</string>
				<key>Branch</key>
				<string>111</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>还活着么，D-9587？</string>
				<key>Branch</key>
				<string>112</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch110</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>哈哈，你可真会开玩笑。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我还以为你们这类人都是半句笑话不会说，办公室联谊跟进了冷冻库没差的家伙。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我跟你讲……</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[已确认所有人员进入收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[准备关闭阀门]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>算了，下次吧。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[阀门关闭时小队成员开始执行清理任务]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[正在……正在关……在……闭……关……]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>……我有不好的预感。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[电源装置异常，重复，电源装置异常]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[启用备用电源装置]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[备用电源装置损坏，重复，备用电源装置损坏]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[无法关闭SCP-173收容区域]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>101</integer>
			<key>Text</key>
			<string>[收容区域进入第四级危险状态]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>[哔——]</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在作业]</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>咳—咳—咳—</string>
			<key>SubText</key>
			<string></string>
			<key>NotificationTime</key>
			<integer>360</integer>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>刚刚发生什么事了？立即报告！</string>
				<key>Branch</key>
				<string>111</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>还活着么，D-9587？</string>
				<key>Branch</key>
				<string>112</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch111</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>你可真没良心，也不关心下我死了没。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>……好吧，我现在也没心情耍嘴皮子。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>不知道你们那边出了什么状况，整个收容区域突然就没电了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>那个娘们安保倒霉透顶了，刚刚我们被断电吓了一跳，结果同时眨巴眼睛，稍等……</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>完毕。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>詹姆斯，我要眨眼了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>那个倒霉鬼抽中了三分之一的几率。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>虽然有点对不起那家伙，但死的不是我真是太好了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>看到他的尸体跟没了帽盖的牙膏差不多的我不由地这么想。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>罪过罪过。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>你现在有什么想法？</string>
				<key>Branch</key>
				<string>114</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>詹姆斯是谁？</string>
				<key>Branch</key>
				<string>113</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch112</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>真高兴在这种情况下有人还关心我的生死问题。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>目前还活着，不过等等就不好说了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>刚刚那一下把整个收容区域的电都‘bong’掉了，天知道你们那边出了什么事。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>那个娘们安保已经死了，因为断电的一刹那我们都被吓了一跳，结果同时眨眼……</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>他运气不好，被那个雕塑拧断脑袋。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我说你们怎么净养些这种玩意，不是眨巴眼睛就会死的雕塑就是怎么打都不会死的满嘴脏话的蜥蜴，养养小绵羊不好么？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我敢说詹姆斯一定会爱死这里。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>不说他了，我得想法子先离开这里。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我想你应该不会阻止吧？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>我的任务是观察直到你完成任务。</string>
				<key>Branch</key>
				<string>119</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>詹姆斯是谁？</string>
				<key>Branch</key>
				<string>113</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch113</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>詹姆斯？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>哦，我忘记你们比较喜欢用编号称呼我们，就像我只知道你叫C-132一样。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>詹姆斯就是跟我搭伙的D级人员，你们管他叫D-10086。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>他是一个高尚的人，一个有道德的人，一个脱离了低级趣味的人，一个有益于SCP基金的人，一个纯粹的绵尔士人。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>好吧，有点扯淡，这家伙既不高尚也不道德，是不是低级趣味得看他跟什么人处在一块，绵尔士人可绝对不叫这低级趣味。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>没想到你在这种情况下都能这么闹腾。</string>
				<key>Branch</key>
				<string>115</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>还是言归正传吧。</string>
				<key>Branch</key>
				<string>116</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch114</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我想我得先找个办法离开这里。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>现在那个雕塑就在我身边不到两米的地方，跟没了帽盖的牙膏一起。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我也不知道其他的安保人员什么时候才能上线。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>再说他们来了也不见得会给我好果子吃。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>所以就我那颗小脑袋的想法还是趁早离开这鬼地方为好。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我想你应该不会阻止我吧？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>说不准，但你不觉得留在原地比较好吗？</string>
				<key>Branch</key>
				<string>117</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>我的任务是观察直到你完成任务。</string>
				<key>Branch</key>
				<string>119</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch115</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>唉，进了这鬼地方后我也只剩这点本事了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>能多闹腾几下就几下吧，我可不指望能寿终正寝。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>（良久的沉默）</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>还是不想这些烦心事了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我打算要先离开这里。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>现在那个雕塑就在我身边不到两米的地方，跟没了帽盖的牙膏一起。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我也不知道其他的安保人员什么时候才能上线。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>再说他们来了也不见得会给我好果子吃。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>所以就我那颗小脑袋的想法还是趁早离开这鬼地方为好。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我想你应该不会阻止我吧？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>说不准，但你不觉得留在原地比较好吗？</string>
				<key>Branch</key>
				<string>117</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>我的任务是观察直到你完成任务。</string>
				<key>Branch</key>
				<string>119</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch116</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>也是，得想点法子出来。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>咳咳咳——</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>唔，这边血腥味越来越重了，我跟詹姆斯的状态也越来越差。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>虽然身子上没啥问题但神经绷得太紧了，这样下去不会有什么好结果。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>在那之前我们得离开这里。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>说不准，但你不觉得留在原地比较好吗？</string>
				<key>Branch</key>
				<string>117</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>我的任务是观察直到你完成任务。</string>
				<key>Branch</key>
				<string>119</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch117</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>留在这里？！</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>老天爷你没搞错吧？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>别开玩笑了，你是要我们在这里等死吗？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>你说的对，还是先离开吧。</string>
				<key>Branch</key>
				<string>120</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>你不觉得外面更危险吗？</string>
				<key>Branch</key>
				<string>118</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch118</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>也许吧，也许外面更危险，但至少能选择不是吗？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>距离断电已经好几分钟了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>你觉得大部队是恰好忘了第四级警报是啥意思。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>还是他们恰好有更重要的事，比如新鲜出炉的甜甜圈之类的？</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>不要冷嘲热讽了，相信我们！</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>BadEnd</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>也许你是对的，赶紧离开吧。</string>
				<key>Branch</key>
				<string>120</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch119</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>听起来不错。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我可以稍稍把完成任务的时间往后挪一小点，就一小点。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>好了，我出发了，一边移动一边跟詹姆斯配合还要一边跟你对话可不是什么容易的事。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>非常的——不容易。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我得先把联络器调成静音了，在暂时安全之后我会马上恢复它。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在作业]</string>
			<key>NotificationTime</key>
			<string>720</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>不要冷嘲热讽了，相信我们！</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>BadEnd</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>也许你是对的，赶紧离开吧。</string>
				<key>Branch</key>
				<string>120</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
	<key>Branch120</key>
	<array>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>看起来你我达成共识了。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>能跟你这种高级人才达成共识真让我受宠若惊。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>哈哈，在你反悔之前我得先把联络器调成静音。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我没办法一边移动一边跟詹姆斯配合还一边跟你对话，这很危险。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>我会在暂时安全后马上跟你联系。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>102</integer>
			<key>Text</key>
			<string>就这样了，祝我好运吧。</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>105</integer>
			<key>Text</key>
			<string>[D-9587正在作业]</string>
			<key>NotificationTime</key>
			<string>720</string>
			<key>SubText</key>
			<string></string>
		</dict>
		<dict>
			<key>Style</key>
			<integer>103</integer>
			<key>LeftButton</key>
			<dict>
				<key>Text</key>
				<string>不要冷嘲热讽了，相信我们！</string>
				<key>Branch</key>
				<string>102</string>
				<key>PlistName</key>
				<string>BadEnd</string>
			</dict>
			<key>RightButton</key>
			<dict>
				<key>Text</key>
				<string>也许你是对的，赶紧离开吧。</string>
				<key>Branch</key>
				<string>120</string>
				<key>PlistName</key>
				<string>Prologue</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
