<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Style</key>
		<integer>101</integer>
		<key>CenterNode</key>
		<dict>
			<key>icon</key>
			<string></string>
			<key>IsEnd</key>
			<false/>
			<key>HasActivate</key>
			<true/>
			<key>Plist</key>
			<string>Prologue</string>
			<key>Branch</key>
			<string>101</string>
		</dict>
	</dict>
	<dict>
		<key>Style</key>
		<integer>102</integer>
		<key>LeftNode</key>
		<dict>
			<key>Icon</key>
			<string></string>
			<key>HasActivate</key>
			<false/>
			<key>IsEnd</key>
			<true/>
			<key>Plist</key>
			<string>BadEnd</string>
			<key>Branch</key>
			<string>101</string>
			<key>Title</key>
			<string>射杀致死</string>
			<key>Detail</key>
			<string>你很聪明，若是在一切开始之前就杀死D-9587那么一切故事都不复存在，或许这对D-9587来说不是什么好事，但对于整个基金会来说可谓是万全之策。</string>
		</dict>
		<key>CenterNode</key>
		<dict>
			<key>HasActivate</key>
			<false/>
			<key>Icon</key>
			<string></string>
			<key>Title</key>
			<string>崩坏的开端</string>
			<key>Detail</key>
			<string>也许大部分人都认为这只不过是基金会微不足道的一小点失误，但也有少部分智者预见了在此之后愈演愈烈的混乱。</string>
			<key>IsEnd</key>
			<false/>
			<key>Plist</key>
			<string>Prologue</string>
			<key>Branch</key>
			<string>104</string>
		</dict>
	</dict>
</array>
</plist>
